body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    padding: 20px;
    color: white;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 50px;
    text-align: center;
    background: #0078ff;
    color: white;
}

.projects {
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
